.Header {
    // background-color: red;
    width: 96%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // height: 20vh;
    float: right;
    padding-top: 40px;

    // &-logo {
    //     // padding-left: 20px;
    // }

    &-line {
        border-top: 1px solid #979797;
        width: 35%;
        /* padding: 0; */
        position: absolute;
        /* float: left; */
        transform: translateX(120px);
        z-index: 2;
    }

    &-button {
      display: none;
    }

    &-nav{
        // background: #369;
        width: 55vw;
        // padding: 50px;
        background-color: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(40.76px);
    }

    &-ul {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        gap: 4em;
    }

    &-li {
        font-family: 'Barlow Condensed', sans-serif;
        font-size: 16px;
        letter-spacing: 2.7px;
        color: #FFFFFF;
        padding:  40px 0 35px 0;
    }

    &-li:after {
        position: relative;
        top: 37px;
        content: "";
        // display: inline-block;
        width: 0px;
        background: #979797;
        height: 3px;
        opacity: 0;
        transition: opacity, width;
        transition-duration: .3s;
      }
      
      &-li:hover:after {
        opacity: 1;
        width: 100%;
      }

      &-a {
        cursor: pointer;
      }

    &-liF {
        font-family: 'Barlow Condensed', sans-serif;
        font-size: 16px;
        letter-spacing: 2.7px;
        color: #FFFFFF;
        padding:  40px 30px px 0;
    }

    // &-liF:after {
    //     position: relative;
    //     top: 37px;
    //     content: "";
    //     // display: inline-block;
    //     width: 0px;
    //     background: #979797;
    //     height: 3px;
    //     opacity: 0;
    //     transition: opacity, width;
    //     transition-duration: .3s;
    //   }
      
    //   &-liF:hover:after {
    //     opacity: 1;
    //     width: 100%;
    //   }


      @media (max-width: 1388px) { 
        &-line {
          transform: translateX(110px);
        }
        // &-liF {
        //     padding:  40px 0px 40px 0;
        // }
      }

      @media (max-width: 1210px) { 
        &-line {
          display: none;
        }
      }

  

}

@media (max-width: 1090px) { 

  .Header {
    padding: 0;

    &-nav {
      width: 70vw;
  }

  &-ul {
      gap: 2em;
  }
  }
  
}

@media (max-width: 700px) { 

  .Header {
    padding: 30px 0 0 0;
    width: 90%;
    float: inline-end;
    margin: 0 auto;
    background-color: transparent;

    &-nav {
      width: 70%;

      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      right: 0;
      opacity: 0;
      overflow: hidden;
      transition: all .5s ease;
  }

  &-nav.isActive{
    height: 100vh;
    opacity: 1;
    z-index: 2;
}

  &-ul {
    flex-direction: column;
    align-items: start;
    width: 100%;
    padding-left: 35px;
    transform: translateY(-110px);
  }


  &-li {
    margin: 0;
    padding: 10px 0;
    width: 100%;
  }

  &-li:hover {
    border-right: solid 2px #FFFFFF;
  }

  &-li:after {
    display: none;
  }

  
    &-button {
      display: block;
      margin-right: 40px;
      width: 35px;
      z-index: 4;
      cursor: pointer;
    }
  }
  
}